<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
  </head>

  <body>
    <navbar>
      <%= render 'shared/navbar' %>
    </navbar>

    <div class="container">
      <%= yield %>
    </div>

    <div class="footer">
      <ul>
        <li>About</li>
        <li>Team</li>
        <li>Contact us</li>
      </ul>
    </div>
  </body>
</html>
